<h1> <%= @user.email %></h1>
<p>This user has created <%= @user.created_events.count %> events</p>
<div>
<ul>
<% @user.created_events.each do |event| %>
<li>
<%= event.title%>
</li>
<% end%>
</ul>
</div>

<p>This user has attended <%= @user.attended_events.count %> events</p>
<div>
<ul>
<% @user.attended_events.each do |event| %>
<li>
<%= event.title%>
</li>
<% end%>
</ul>
</div>