<p id="notice"><%= notice %></p>

<div>
  <strong>Title:</strong>
  <%= @event.title %>
</div>
<div>
  <strong>Description:</strong>
  <%= @event.description %>
</div>
<div>
 <div> # of Attendees: (<%= @event.confirmations.count %>) </div>
<ul>
<% @event.confirmations.each do |rsvp| %>
<li> <%= rsvp.attendee.name %></li>
<% end%>

<%= link_to 'Back', events_path %>
